:root {
    --color-primary: #FF9E44;
    --color-neutral: #F8F5F0;
    --color-secondary: #7EC8E3;
    --color-text: #4A4A4A;
    --color-accent: #FF5C5C;
}

body{
    background-color: var(--color-neutral);
    color: var(--color-text);
    font-family: 'Arial', sans-serif;
}


/* navbar */
.navbar-custom {
    background-color: var(--color-primary);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white !important;
}

.navbar-brand {
    font-family: 'Grobold';
    src: url('../fonts/Grobold-Regular.ttf') format('truetype');
    font-size: 1.8rem;
}

.navbar-custom .nav-link:hover {
    color: var(--color-neutral) !important;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar-toggler {
    border-color: white;
    color: white
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*secciones*/
.principal-section {
    background-color: var(--color-neutral);
}

/* Html */
html{
    scroll-behavior: smooth;
}

/* Portada */
.img-portada {
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.texto-portada {
    max-width: 50%;
    margin: 12px auto 0 auto;
    text-align: center;
    font-size: 1.3rem;
}

/* Seccion de Gato o Perro */

.btn-secondary {
    background-color: var(--color-primary); /* azul claro */
    color: #fff;
    border: none;
}

.btn-primary {
    background-color: var(--color-secondary); /* naranja */
    color: #fff;
    border: none;
}

/* Tips Para Gato */
.cat-tips-section .card-img-left {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--color-neutral);
    flex-shrink: 0;
    margin-right: 32px;
}

.cat-tips-section .card {
    background-color: var(--color-primary);
    border: var(--color-text);
}

.cat-tips-section .card-img-left,
.dog-tips-section .card-img-right {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--color-neutral);
    flex-shrink: 0;
}

/* Tips Para Perro */
.dog-tips-section .card-img-right {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--color-neutral);
    flex-shrink: 0;
    margin-left: 32px;
}

.dog-tips-section .card {
    background-color: var(--color-secondary); /* azul claro para perros */
    border: var(--color-text);
}

/* footer */
.footer-custom {
    background-color: var(--color-primary);
    color: white;
}

.footer-custom a {
    color: var(--color-neutral);
    text-decoration: none;
}

.footer-custom a:hover {
    color: white;
    text-decoration: underline;
}

/*botones*/
.btn-accent {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: white;
}

.btn-accent:hover {
    background-color: #d35400;
    border-color: #d35400;
    color: white;
}